- if @assignments.present?
  .row-fluid
    %table.table.table-bordered.table-striped#warranty_pending_assets_list
      %tr
        %th Start date
        %th End date
        %th Assignee
        %th Asset serial number
        %th Asset type

      - @assignments.each do |assignment|
        %tr
          %td
            =assignment.start_date
          %td
            =assignment.end_date
          %td
            =assignment.assignee
          %td
            =assignment.asset.serial_number
          %td
            =assignment.asset_type.name

- else
  .alert.alert-danger
    You have not been assigned any asset yet