#assets_list
  - headings = {type: 'Type', asset_id: 'Asset ID', serial: 'Serial No.', company: 'Company', model: 'Model', warranty: 'Warranty', warranty_left: 'Warranty Left (days)', assignment: 'Assignment'}
  -#- headings[action] =  'Action' if current_user.admin?
  %table.table.table-hover.table-bordered.assets-list
    %thead
      - headings.each do |c, heading|
        %th{ class: c}
          = heading
    %tbody
      - if @assets.blank?
        %tr.no-data
          %td{colspan: 100}
            No Assets Present
      - @assets.each do |asset|
        %tr{ id: asset.id}
          %td.type{'data-url' => asset_path(asset) }
            = asset.asset_type.name
          %td.asset_id{'data-url' => asset_path(asset) }
            = asset["asset_id"]
          %td.serial{'data-url' => asset_path(asset) }
            = asset["serial"]
          %td.company{'data-url' => asset_path(asset) }
            -#= asset.company.name
          %td.model{'data-url' => asset_path(asset) }
            -#= asset.model.name
          %td.warranty{'data-url' => asset_path(asset) }
            -#= asset.warranty.name
          %td.warranty_left{'data-url' => asset_path(asset) }
            -#= asset.warranty_left
          %td.assignment{'data-url' => asset_path(asset) }
            -#= asset.current_assignment.description
          -#- current_user.admin?
          -#  %td.action
          -#    %button.btn{'data-url' => clone_asset_path(id: asset.id)} Clone