/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */
@import 'font-awesome';

table {
  margin-top: 20px;
}

[data-url] {
  cursor: pointer;
}

body {
  line-height: 20px !important;
  padding-top: 60px;
  #notifications {
    position: absolute;
    z-index: 9;

    .notification-container {
      z-index: inherit;
    }
  }
}

.container {
  width: auto !important;
  margin: 0 20px !important;
}

#logout {
  color: #aaa;
  font-size: 20px;
  border-radius: 22px;
  padding: 0;

  &:hover {
    color: #E98;
  }
}

.hero-unit {
  padding: 50px 50px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#search_assets_form {
  margin-right: 30px;
}
